/* HSL */
$color1: hsla(182%, 11%, 99%, 1);
$color2: hsla(187%, 15%, 89%, 1);
$color3: hsla(201%, 18%, 75%, 1);
$color4: hsla(201%, 20%, 45%, 1);
$color5: hsla(197%, 33%, 22%, 1);

/* RGB */
$color1: rgba(224, 251, 252, 1);
$color2: rgba(194, 223, 227, 1);
$color3: rgba(157, 180, 192, 1);
$color4: rgba(92, 107, 115, 1);
$color5: rgba(37, 50, 55, 1);

/* HEX */
$color1: #e0fbfcff;
$color2: #c2dfe3ff;
$color3: #9db4c0ff;
$color4: #5c6b73ff;
$color5: #253237ff;

/* GRADIENT */
$gradient-top: linear-gradient(
  0deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-right: linear-gradient(
  90deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-left: linear-gradient(
  270deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);
$gradient-radial: radial-gradient(
  #e0fbfcff,
  #c2dfe3ff,
  #9db4c0ff,
  #5c6b73ff,
  #253237ff
);

$gradient-radial-reverse: radial-gradient(
  #253237ff,
  #5c6b73ff,
  #9db4c0ff,
  #c2dfe3ff,
  #e0fbfcff
);
