@import "./frow/frow.sass";
@import "./colors.scss";
@import "./toggles.scss";
@import "./animations.scss";
@import "./loader.scss";
@import "./masonry.sass";


:root {
  --modile-area: "header" "body" "footer";
  --area: "header" "body" "footer";
}

@font-face {
  font-family: "SilverThreadJF";
  src: url("./fonts/SilverThreadJF.woff2") format("woff2"),
    url("./fonts/SilverThreadJF.woff") format("woff"),
    url("./fonts/SilverThreadJF.ttf") format("truetype");
}

@media all and (max-width: 30em) {
  a.button {
    & {
      display: block;
      margin: 0.4em auto;
    }
  }
}

// @include icon {
//   width: 36px;
//   height: 36px;
//   display: flex;
//   align-content: center;
//   justify-content: center;
// }

* {
  margin:0px;
  padding:0px;
  font-family: "Roboto", sans-serif;
  color: $black;
  p {
    font-size: 16px;
  }
   h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "SilverThreadJF", sans-serif;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  max-height: 100vh;
}

a {
  text-decoration: none !important;
}

a.button {
  line-height: initial;
  background-color: $white;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $oxford-blue;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    color: $gold;
    border: 0.1em solid $oxford-blue;
    font-weight: 500;

    h1 {
      color: $oxford-blue !important;
      font-weight: 500;
    }
  }
}

#add-to-cart-img {
  position: absolute;
  top: 75%;
  left: 25%;
  width: 200px;
  height: 200px;
}

.auth-btn {
  width: 100%;
}

.nav-link, .auth-link {
  &:hover {
    color: $gold;
  }
}

.auth-link {
  margin-top: 10px;

  &:hover,
  &:active {
    user-select: none;
    -webkit-tap-highlight-color: $gold;
    -webkit-user-select: none;
    -webkit-touch-callout: none; /*only to disable context menu on long press*/
  }
}

#body {
  margin-top: 100px;
}

.bold {
  font-weight: 900;
}

.is-active {
  font-weight: 900;
  color: $gold !important;
  fill: $gold !important;
}

.cart-item {
  width: 100%;
}

.btn-icon {
  :hover {
    transform: translateY(-2px);
  }
}

#cart-icon {
  position: relative;
  fill: $oxford-blue;

  .cart-pill {
    position: absolute;
    font-size: 0.85rem;
    top: 42%;
    left: 26%;
    padding: 7%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: $oxford-blue;
    border: 1px solid $gold;
    text-align: center;
  }
}

#content {
  grid-area: content;
  padding: 10px;
  min-height: 100vh;
  height: 100%;
}

#footer {
  grid-area: footer;
  min-height: 200px;
  color: $white;
  align-items: center;

  > * a {
    margin: 4px;
    color: $oxford-blue;
  }
}

.auth-form {
  width: 500px;
}

.label {
  font-weight: bold;
  color: $oxford-blue;
}

.logoLoader {
  .heartbeat {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
}



h1 {
  font-size: 2rem;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

#header {
  grid-area: header;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: white;
  top: 0;
  left: 0;
  z-index: 100;
}

.img {
  max-width: 100%;
}

.auth-input {
  border: 2px solid $oxford-blue;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.has-error {
  border: 2px solid #e43e02;
}

.has-success {
  border: 2px solid #29a10a;
}

#layout {
  height: 100vh;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr; //120px 58vh 100px;
  grid-template-areas: "header" "body" "footer";
}

.cover {
  background-color: $oxford-blue;
}

.loader {
  height: 80vh;
  width: 80vw;
}

icon.icon#logo-svg {
  fill: $gold;
}

.icon-click{
  &:hover{
    transition:translate3d(0, 10px, 0 );
    fill: $gold;
  }
}


#toolbar-logo > {
  .logo {
    logo-text {
      font-family: "SilverThreadJF";
      font-size: 10px;
      text-transform: initial;
      color: $oxford-blue !important;
    }
  }
}


.modal {
  animation: ease-in-out 1s;
  -webkit-animation: ease-in-out 1s;
  position: absolute;
  top: 0;
  width: 90vw;
  height: 100vh;
  min-width: 90vw;
  min-height: 100vh;
  background-color: $white;
  padding: 30px;
  overflow-y: auto;

  > h1.title,
  h1.bold,
  h2,
  h3,
  h4,
  p {
    color: $oxford-blue !important;
  }

  > ul.nav {
    width: 70vw;
    list-style: none;

    > li {
      > a {
        text-decoration: none;
      }
    }
  }
}

.modalButton {
  border: none;
  background-color: $white;
  &::hover {
    border: none;
    background-color: $white;
  }
}

.modalOverlay-left {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  line-height: 3.2rem;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.modalOverlay-right {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  line-height: 3.2rem;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.navbar {
  order: 1;
  height: 40px;
  padding-top: 0.5rem;
}

.navbar1 {
  background-color:  $oxford-blue;
  position: relative;
  z-index: 100;
  .frow {
    a {
      font-size: 1.2em;
      color: $platinum;
      &:hover {
        color: $white;
      }
    }
  }
}

.navbar2 {
  a {
    color: $oxford-blue;
  }
}

.sub-navbar {
  position: relative;
  order: 2;
  height: 40px;
  padding-top: 0.5rem;
  background: rgba(255, 255, 255, .0);

  a {
    color: $oxford-blue ;
    background-color: inherit;
    backdrop-filter: none;

  }

}

.sub-navbar-backdrop {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  padding-top: 0.5rem;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}


.para {
  border: 1px solid white;
}

.white {
  color: white;
}

.point-left {
  width: 40px;
  > svg {
    transform: rotate(-90deg);
  }
}

.point-right {
  width: 40px;
  > svg {
    transform: rotate(90deg);
  }
}

.point-down {
  transform: rotate(180deg);
}


.progress-bar progress {
  position: relative;
  border: 0;
  z-index: 500;
  width: 100%;
  height: 8px;
  border-radius: 9px;
}
.progress-bar progress::-webkit-progress-bar {
  border-radius: 9px;
}
.progress-bar progress::-webkit-progress-value {
  background: $oxford-blue;
  background: -moz-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $oxford-blue),
    color-stop(100%, $gold)
  );
  background: -webkit-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: -o-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: -ms-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: linear-gradient(to bottom, $oxford-blue 0%, $gold 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='$gold',GradientType=0 );
  border-radius: 9px;
}
.progress-bar progress::-moz-progress-bar {
  background: $oxford-blue;
  background: -moz-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $oxford-blue),
    color-stop(100%, $gold)
  );
  background: -webkit-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: -o-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: -ms-linear-gradient(top, $oxford-blue 0%, $gold 100%);
  background: linear-gradient(to bottom, $oxford-blue 0%, $gold 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='$gold',GradientType=0 );
  border-radius: 9px;
}
.progress-bar .progress-value {
  z-index: 500;
  position: relative;
  padding: 0px 5px;
  line-height: 10px;
  margin-left: 5px;
  font-size: 0.8em;
  color: $oxford-blue;
  height: 8px;
  float: right;
}
.required {
  color: #e43e02;
  padding: 4px;
}

.Sirv {
  max-width:100%;
  height:auto;
}

.shadow {
  &::hover {
    -webkit-filter: drop-shadow(2px 2px 1px $oxford-blue);
    filter: drop-shadow(2px 2px 1px $oxford-blue);
  }
}

.text-4x > * {
  font-size: 4rem;
}

.text-3x > * {
  font-size: 3rem;
}

.text-2halfx > * {
  font-size: 2rem;
}

.text-2x > * {
  font-size: 2rem;
}

.title {
  font-family: "SilverThreadJF";
  font-weight: normal;
  font-style: normal;
}

.warning {
  color: rgb(230, 150, 2);
  padding: 4px;
}

// .mason-grid {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: masonry;

.mason-grid {
  display: flex;
  flex-flow: row wrap;
  font-size: 0;
  margin: 0 auto;

  figure {
    margin: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}

// }

.slidy-img {
  object-fit: cover;
}

// .carousel-container {

//     .carousel-wrapper {
//       max-height: 400px;
//       max-width: 60vw;
//       margin: 0 auto;
//       scroll-snap-type: x mandatory;
//       overflow-x: auto;
//       display:flex;
//       flex-flow: row;
//       scrollbar-width: none;
//       -ms-overflow-style: none;

//       &::-webkit-scrollbar {
//         display: none;
//       }

//       .carousel-slide {
//         max-width: 100%;
//         scroll-snap-align: center;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         scroll-snap-align: start;
//       }
//     }

//     .carousel-indicator {
//       fill: $oxford-blue;
//       &:hover {
//         fill: $gold;
//       }
//     }
//   }


// .masonry {
//   display: grid;
//   grid-gap: 1em; /* [1] Add some gap between rows and columns */
//   grid-template-columns: repeat(
//     auto-fill,
//     minmax(350px, 1fr)
//   ); /* [2] Make columns adjust according to the available viewport */
//   grid-auto-rows: 350px; /* [3] Set the height for implicitly-created row track */
//   grid-auto-flow: dense;
//   grid-column-start: span 3;

//   img {
//     max-width: 100%;
//   }
// }

// .masonry { /* Masonry container */
//   column-count: 4;
//   column-gap: 1em;
//   img { /* Masonry bricks or child elements */
//     background-color: #eee;
//     display: inline-block;
//     margin: 0 0 1em;
//     width: 100%;
// }

// }

// #masonry {
// 	display: -ms-flexbox;
// 	-ms-flex-direction: column;
// 	-ms-flex-wrap: wrap;
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
//   width: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
// 	font-size: 0;

//   &.product-img {
//     height: 400px !important;
//   }

//    img {
//       width: 33.3%;
//     }
//   }

// #masonry {
//   display: flex;
//   flex-flow: column wrap;
//   align-content: space-between;
//   /* Your container needs a fixed height, and it
//    * needs to be taller than your tallest column. */

//   .item {
//     width:24%;
//     margin-bottom: 2%; /* Optional */
//   }

//   /* Re-order items into 4 rows */
//   .item:nth-of-type(4n+1) { order: 1; }
//   .item:nth-of-type(4n+2) { order: 2; }
//   .item:nth-of-type(4n+3) { order: 3; }
//   .item:nth-of-type(4n)   { order: 4; }

//   /* Force new columns */
//   .break {
//     flex-basis: 100%;
//     width: 0;
//     margin: 0;
//   }
// }

  @media screen and (min-width: 668px) {
  #masonry{
    img {
      width: 33.3%;
      // transition: .8s opacity;
    }
    &:hover img {
      opacity: 0.3;
    }
    &:hover img:hover {
      opacity: 1;
    }
  }

  .img {
    max-width: 50%;
  }

  #login-form,
  #register-form {
    max-width: 500px;
  }

  .modal {
    width: 60vw;
    min-width: 60vw;
  }

  .modalOverlay-left {
    width: 100%;
    min-width: 100%;
  }

  .modalOverlay-right {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 920px) {

#masonry{
  #masonry img {
    width: 33.3%;
    // transition: .8s opacity;
  }
  #masonry:hover img {
    opacity: 0.3;
  }
  #masonry:hover img:hover {
    opacity: 1;
  }
}

  .img {
    max-width: 30%;
  }

  #login-form,
  #register-form {
    max-width: 500px;
  }

  .modal {
    width: 40%;
    min-width: 40%;
  }

  .modalOverlay-left {
    width: 100%;
    min-width: 100%;
  }

  .modalOverlay-right {
    width: 100%;
    min-width: 100%;
  }
}

#nav-modal {
  box-shadow: 1px 7px 6px $oxford-blue;
}

#cart-modal {
  box-shadow: 1px 7px 6px $oxford-blue;
}
