@import "./colors.scss";
@import "./animations.css";
@import "./loader.scss";
@import "./frow/frow.sass";
@import "./single_carousel.scss";
// @import "./flickerty.css";

:root {
  --modile-area: "header" "body" "footer";
  --area: "header" "body" "footer";
}

@font-face {
  font-family: "SilverThreadJF";
  src: url("./fonts/SilverThreadJF.woff2") format("woff2"),
    url("./fonts/SilverThreadJF.woff") format("woff"),
    url("./fonts/SilverThreadJF.ttf") format("truetype");
}

@media all and (max-width: 30em) {
  a.button {
    & {
      display: block;
      margin: 0.4em auto;
    }
  }
}

// @include icon {
//   width: 36px;
//   height: 36px;
//   display: flex;
//   align-content: center;
//   justify-content: center;
// }

* {
  font-family: "Roboto", sans-serif;
  color: $color5;
  > p {
    font-size: 16px;
  }
  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "SilverThreadJF", sans-serif;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  color: $color5;
  -webkit-text-size-adjust: 100%;
}

body {
  max-height: 100vh;
}

a.button {
  line-height: initial;
  background-color: $color5;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $color1;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    color: $color5;
    background-color: $color1;
    border: 0.1em solid $color5;
    font-weight: 500;

  > h1 {
    color: $color5 !important;
    font-weight: 500;
  }
  }
}

.auth-btn {
  width: 100%;
}

.auth-link {
  color: $color4;
  margin-top: 10px;

  &:hover,
  &:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none; /*only to disable context menu on long press*/
  }
}

.bold {
  font-weight: 700;
}


.cart-item{
  width: 100%;
}

#content {
  grid-area: content;
  padding: 10px;
  min-height: 100vh;
  height: 100%;
}

#footer {
  grid-area: footer;
  min-height: 200px;
  color: $white;
  align-items: center;

  > * a {
    margin: 4px;
  }
}

.auth-form {
  width: 500px;
}

.label {
  font-weight: bold;
  color: $color5;
}

.logoLoader {

  .heartbeat {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
}

h1 {
  font-size: 2rem;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

#header {
  grid-area: header;
  // max-height: 140px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: white;
  top: 0;
  left: 0;
  z-index: 100;
}

img {
  object-fit: cover;
}

.auth-input {
  border: 2px solid $color3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.has-error {
  border: 2px solid #e43e02;
}

.has-success {
  border: 2px solid #29a10a;
}

#layout {
  height: 100vh;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr; //120px 58vh 100px;
  grid-template-areas: "header" "body" "footer";
}

.loader {
  height: 80vh;
  width: 80vw;
}

#toolbar-logo > {
  .logo {
    logo-text {
      font-family: "SilverThreadJF";
      font-size: 10px;
      text-transform: initial;
    }
  }
}

.modal {
  animation: ease-in-out 1s;
  -webkit-animation: ease-in-out 1s;
  position: absolute;
  top: 0;
  width: 90vw;
  height: 100vh;
  min-width: 90vw;
  min-height: 100vh;
  background-color: $color5;
  padding: 30px;
  overflow-y: auto;


  > h1.title,h1.bold,h2,h3,h4,p {
    color: $color1 !important;
  }


  > ul.nav {
    width: 70vw;
    list-style: none;

    > li {

      > a {
        text-decoration: none;
        color: $color1 !important;
      }
    }
  }
}

.modalButton {
  border: none;
  background-color: $white;
  &::hover {
    border: none;
    background-color: $white;
  }
}

.modalOverlay-left {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  line-height: 3.2rem;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.modalOverlay-right {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  line-height: 3.2rem;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.navbar {
  order: 1;
  background-color: $color3;
  height: 40px;
  padding-top: 0.5rem;
  font-weight: 900;
}

.sub-navbar {
  order: 2;
  background-color: $color2;
  height: 40px;
  padding-top: 0.5rem;
  font-weight: 900;
}


.para {
  border: 1px solid white;
}

.white {
  color: white;
}

.underline {
  text-decoration: underline $color5;
}

.point-left {
  width: 40px;
  > svg {
    transform: rotate(-90deg);
  }
}

.point-right {
  width: 40px;
  > svg {
    transform: rotate(90deg);
  }
}

.products {
  .product {
    margin: 2px;
  }
}

.progress-bar progress {
  position: relative;
  border: 0;
  z-index: 500;
  width: 100%;
  height: 8px;
  border-radius: 9px;
}
.progress-bar progress::-webkit-progress-bar {
  border-radius: 9px;
}
.progress-bar progress::-webkit-progress-value {
  background: $color5;
  background: -moz-linear-gradient(top, $color5 0%, $color4 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $color5),
    color-stop(100%, $color4)
  );
  background: -webkit-linear-gradient(top, $color5 0%, $color4 100%);
  background: -o-linear-gradient(top, $color5 0%, $color4 100%);
  background: -ms-linear-gradient(top, $color5 0%, $color4 100%);
  background: linear-gradient(to bottom, $color5 0%, $color4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color5', endColorstr='$color4',GradientType=0 );
  border-radius: 9px;
}
.progress-bar progress::-moz-progress-bar {
  background: $color5;
  background: -moz-linear-gradient(top, $color5 0%, $color4 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $color5),
    color-stop(100%, $color4)
  );
  background: -webkit-linear-gradient(top, $color5 0%, $color4 100%);
  background: -o-linear-gradient(top, $color5 0%, $color4 100%);
  background: -ms-linear-gradient(top, $color5 0%, $color4 100%);
  background: linear-gradient(to bottom, $color5 0%, $color4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color5', endColorstr='$color4',GradientType=0 );
  border-radius: 9px;
}
.progress-bar .progress-value {
  z-index: 500;
  position: relative;
  padding: 0px 5px;
  line-height: 10px;
  margin-left: 5px;
  font-size: 0.8em;
  color: $color1;
  height: 8px;
  float: right;
}
.required {
  color: #e43e02;
  padding: 4px;
}

.shadow {
  &::hover {
    -webkit-filter: drop-shadow(2px 2px 1px $color5);
    filter: drop-shadow(2px 2px 1px $color5);
  }
}

.text-4x > * {
  font-size: 4rem;
}

.title {
  font-family: "SilverThreadJF";
  font-weight: normal;
  font-style: normal;
}

.warning {
  color: rgb(230, 150, 2);
  padding: 4px;
}

@media screen and (min-width: 668px) {
  .modal {
    width: 60vw;
    min-width: 60vw;
  }

  .modalOverlay-left {
    width: 100%;
    min-width: 100%;
  }

  .modalOverlay-right {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 920px) {
  .modal {
    width: 40%;
    min-width: 40%;
  }

  .modalOverlay-left {
    width: 100%;
    min-width: 100%;
  }

  .modalOverlay-right {
    width: 100%;
    min-width: 100%;
  }
}
