$count: 7;
$time: 2; //in seconds
$size: 150;
$color: #2980b9;

.holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  .preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotatePreloader $time + s infinite ease-in;
  }
  @keyframes rotatePreloader {
    0% {
      transform: translateX(-25%) translateY(-50%) rotateZ(0deg);
    }
    100% {
      transform: translateX(-25%) translateY(-50%) rotateZ(-360deg);
    }
  }
  .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: $color;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  @for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
      transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
      animation: rotateCircle + $i $time + s infinite linear;
      z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
      #{percentage(((50 / $count) * ($i - 1)) / 100)} {
        opacity: 0;
      }
      #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
        opacity: 1;
        transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
      }
      #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      100% {
        transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
        opacity: 1;
      }
    }
  }
}

// .progressBar {
//   width: 100%;
//   display: flex;
//   padding: 15px;
//   justify-content: center;
//   align-content: center;
// }

// .progress {
//   appearance: none;
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   width: 80%;
//   margin: 0, auto;
//   height: 1.5rem;
//   text-align: center;
//   color: #2980b9;
//   border: 2px dashed #ecf0f1;
//   background-image: #ecf0f1;
//   border-radius: 10px;

//   &::-webkit-progress-bar {
//     border: 2px dashed #ecf0f1;
//     width: 100%;
//     border-radius: 10px;
//   }
//   &::-webkit-progress-value {
//     border: 2px dashed #2980b9;
//     border-radius: 10px;
//   }
//   &::-moz-progress-value {
//     border: 2px dashed #ecf0f1;
//     border-radius: 10px;
//   }
// }
